.App {
  text-align: center;
}
/* @import url(http://allfont.net/allfont.css?fonts=arcade-normal); */
@font-face {
  /* font-family: 'The name of the Font Family Here'; */
  /* src: URL('font.ttf') format('truetype'); */
  /* src: url("./arcade.ttf"); */
  color: white;
}
body{
  background-color: black;
  /* font-family: 'The name of the Font Family Here'; */
  /* /* /* src: URL('orange_kid.ttf') format('truetype'); */
  color: white; 
  /* font-family: 'Iceland', cursive; */
  /* font-family: 'Arcade Normal', arial; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 16px;
  
} 

#header-container{
  margin: 15px;
  min-height: 60px;
}

#header {
  display: flex;
  font-size: 20px;
}

#sub{
  display: flex;
  margin-top: 8px;
  font-size: 10px;
  margin-top: 15px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ts{
  width: 100%;
  /* position: 50%; */
  height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#message{
  display: flex
}

#canvas-component-wrapper{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
}
#outputs{
  display: flex;
  justify-content: center;
  margin-top:20px;
 
}

#outputs > div {
    margin: 8px;
    cursor: pointer;
}



#qrs-wrapper{
  display: flex;
  justify-content: space-around;

}

#offline {
  position: absolute;
  color: red;
  animation: fade 1s linear;
  -webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 10s linear forwards;
  right: 5%;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
20% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
20% { opacity: 1; }
}

#next-button-wrapper{
  min-height: 40px;
  position: absolute;
  width: 100%;
  top: 25%;
}
#next-button{
  /* opacity: 0; */
  /* border: 1px solid white; */
  /* text-align: left; */
  /* margin-top: 15px; */
  /* position: fixed; */
  position: absolute;
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  top: 25%;
  /* left: 45%; */
  z-index: 1;
  font-size: 15px;
  padding-left:15px;
  cursor: pointer;
  /* left: 32px; */
}

.qr-wrapper{
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */

}

.qr-canvas{
  /* border: 1px solid purple; */
  min-width: 180px;
  min-height: 180px;
}

.canvas-key-row, .canvas-label-row{
  margin-top:8px;
  /* transform: rotate(90deg); */
}

.canvas-key-row{
  font-size: 7px;
}

#footer{
  bottom: 15px;
  position: absolute;
}

.icon{
  color: white;
}

#me-wrapper{
  display: flex;
  margin-bottom: 5px;
}
#me-wrapper > * {
  margin-right: 5px;
}

footer{
  font-size: 8px;
}

#short-cd{
  margin-top: 5px;
}